# Object files
*.o

# Libraries
*.lib
*.a

# Shared Object files
*.so

# Executable files
*.out
*.exe

# Debug files
*.dSYM/

# Build folders
build/
Release/
Debug/

# Dependency directories (comment out if you track dependencies)
#vendor/

# Editor directories and files
.vscode/
*.code-workspace
*~

# System files
.DS_Store
